@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>


<p>I am an extreamly sleep deprived college student. With the being the last of my work for the semester I can only hope that it goes well.</p>
<p>Thanks for all the fish.</p>
