@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>


<address>
    712 Academy St.<br />
    Kalamazoo, MI 49007<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>