@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Morgan Boon's Beverage Database</h1>
    <p class="lead">This database is perfect for planning your post exam free time.
        You can look thoough all the wines and filter by you favorites or even by how much money you have 
        left after your semester of school.</p>

    <p><a href="http://localhost:52352/Home/About" class="btn btn-primary btn-lg">Learn more about me &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To view our enormous wine collection, you mus first create an account. Click the register button to get started.
        </p>
        <p><a class="btn btn-default" href="http://localhost:52352/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Returning User?</h2>
        <p>If you have already registered with us all you need to do is sign in. Click the login button to login.
            </p>
        <p><a class="btn btn-default" href="http://localhost:52352/Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need to contact me?</h2>
        <p>You can easily find me sound asleep recovering from exams at my house. Follow the Contact me button for more information.</p>
        <p><a class="btn btn-default" href="http://localhost:52352/Home/Contact">Contact Me &raquo;</a></p>
    </div>
</div>